*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: crimson;
}

.container {
  background-color: white;
  width: 95vmin;
  font-size: 16px;
  min-width: 30em;
  min-height: 30em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: grid;
  grid-template-columns: 2fr 9fr;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.container .tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #e4e9fd;
}

div h3 {
  height: 33.33%;
  display: grid;
  place-content: center;
  cursor: pointer;
}

.container .tab-content {
  background-color: #fff;
  padding: 1em 1.5em;
}

.container .tab-content h4 {
  font-size: 1.8em;
  margin-bottom: 0.5em;
  color: #000024;
  font-weight: 600;
}

.container .tab-content p {
  text-align: justify;
  line-height: 1.9;
  letter-spacing: 0.4px;
  color: #202238;
}

.tab-content div {
  display: none;
}

.tab-content .active {
  display: block;
  transition: all 1s;
}

.tabs .active {
  width: 100%;
  background: #ffff;
  color: #4d5bf9;
  transition: all 1s;
}

/* RESPONSIVENESS */
@media screen and (max-width: 500px) {
  .container {
    font-size: 14px;
    min-width: 90vmin;
    height: 70vh;
  }

  .container .tab-content {
    background-color: #fff0;
    padding: 1em 1.2em;
  }
}
